.richtext-content {
  color: var(--grayscale-02);
  @include text-body-02;
  line-height: 1.5rem; // 這裡行距設計特別調整
  ol {
    padding-left: 26px;
    ol {
      list-style-type: disc;
      ol {
        list-style-type: circle;
      }
    }
    li[data-list="ordered"] {
      list-style-type: none;
      counter-increment: list-0;
      .ql-ui:before {
        content: counter(list-0, decimal) ". ";
        display: inline-block;
        margin-left: -1.5em;
        margin-right: 0.3em;
        text-align: right;
        white-space: nowrap;
        width: 1.2em;
      }
      &.ql-indent-1 {
        counter-increment: list-1;
        > .ql-ui:before {
          content: counter(list-1, disc);
        }
        &:not(.ql-direction-rtl) {
          padding-left: 26px;
        }
      }

      &.ql-indent-2 {
        counter-increment: list-2;
        > .ql-ui:before {
          content: counter(list-1, circle);
        }
        :not(.ql-direction-rtl) {
          padding-left: 52px;
        }
      }
    }
    @supports (counter-set: none) {
      li[data-list] {
        counter-set: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
          list-9;
        &.ql-indent-1 {
          counter-set: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
        &.ql-indent-2 {
          counter-set: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
      }
    }
    @supports not (counter-set: none) {
      li[data-list] {
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8
          list-9;
        &.ql-indent-1 {
          counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
        &.ql-indent-2 {
          counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        }
      }
    }
  }
  .borderTableWrap,
  .quill-better-table-wrapper {
    border-top: 1px solid var(--fill-divider);
    border-right: 1px solid var(--fill-divider);
    border-radius: 12px;
  }

  table {
    border-radius: 12px;
    border-collapse: separate;
    border-color: var(--fill-divider);
    thead {
      tr:first-child > th {
        &:first-child {
          border-top-left-radius: 12px;
          border-left: 1px solid var(--fill-divider);
        }
        &:last-child {
          border-top-right-radius: 12px;
        }
      }
    }
    tbody {
      tr:first-child > td {
        &:first-child {
          border-top-left-radius: 12px;
          border-left: 1px solid var(--fill-divider);
        }
        &:last-child {
          border-top-right-radius: 12px;
        }
      }
      tr:last-child > td {
        &:first-child {
          border-bottom-left-radius: 12px;
        }
        &:last-child {
          border-bottom-right-radius: 12px;
        }
      }
    }
    th {
      padding: 8px;
      border-bottom: 1px solid var(--fill-divider);
    }
    td {
      padding: 8px;
      border-top: none;
      border-right: none;
      border-left: 1px solid var(--fill-divider);
      border-bottom: 1px solid var(--fill-divider);
      border-color: var(--fill-divider);
    }
  }

  .quill-better-table {
    width: auto !important;
    font-size: 11px;
  }

  &.wide {
    .quill-better-table {
      width: 100% !important;
    }
  }
  .ql-align-left {
    text-align: left;
  }
  .ql-align-center {
    text-align: center;
  }
  .ql-align-right {
    text-align: right;
  }
  .ql-align-justify {
    text-align: justify;
  }
}